/* RESET global */
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin-block-end: 0;
}

/* formatação corpo da página */
body {
    font-family: 'Albert-sans', Arial, Helvetica, sans-serif;
    height: auto;
    max-width: 65vw;
    width: 65vw;
    background-color: rgb(255, 220, 155);
    margin: 0 auto;

}

/* formatação dos links */

a {

    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    padding: 0.313rem;
    border-radius: 0.313rem;
    text-decoration: none;
    font-weight: 550;
    width: 900vw;
    margin-right: 10px;


}

a:hover {

    transition: 0.7s;
    background-color: aliceblue;
    color: black;
    cursor: pointer;

}

/*formatação menu de navegação */

#menu ul {
    display: flex;
    justify-content: space-around;
}


#menu ul li {
    list-style: none;

}

#menu {
    display: flex;
    margin-bottom: 5px;
    background-color: aliceblue;
    border-radius: 5px;
    width: 65vw;
    height: 45px;
    padding: 0.625rem;
    border-radius: 0px 0px 5px 5px;
    box-shadow: 3px 3px 3px rgb(117, 117, 117);
    justify-content: space-around;

}

/* formatação da imagem da página */
#conteudo img {

    width: 100%;
    border-radius: 3px;
    margin-bottom: 10px;
    box-shadow: 1px 1px 1px rgb(117, 117, 117);
}

/* formatação conteudo página toda*/

#conteudo {

    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: aliceblue;
    border-radius: 5px;
    padding: 45px;
    box-shadow: 3px 3px 3px rgb(117, 117, 117);
    margin-bottom: 3px;
}

/* formatação h1 titulo da receita */
.title_h {
    text-align: center;
    background-color: orange;
    border-radius: 5px;
    margin-bottom: 5px;
}


/*formatação das divs horizontais */
.content {

    background-color: rgb(175, 175, 175);
    padding: 1rem;
    margin-bottom: 5px;
    border-radius: 5px;

}

.content ol li {
    list-style-type: decimal;
    list-style-position: inside;
    margin-bottom: 10px;
    width: 100%;

}

.content ul li {
    list-style-position: inside;
    margin-bottom: 10px;
}

/*formatação das divs de ingredientes e modo de preparo */

#side {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 10px;
}

#foot_bar {

    background-color: aliceblue;
    text-align: center;
    padding: 5px;
    box-shadow: 3px 3px 3px rgb(117, 117, 117);
    border-radius: 0.313rem 0.313rem 0 0;
}

@media only screen and (max-width: 830px) {
    body {
        width: 100vw;
        height: 100vw;
    }

    h1 {
        text-align: center;
        font-size: 15px;
        padding: 5px;
    }

    h2 {
        text-align: center;
        font-size: 10px;
    }

    ol li {
        padding: 2%;
    }

    .content {

        font-size: 16px;

    }

    a li {
        width: 65vw;
        height: 65vw;
    }

    #menu {
        justify-content: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 75vw;
    }

    h2 {
        font-size: 16px;
    }

    #side ul li {
        font-size: 10px;
    }

    #side ul li {
        font-size: 10px;
    }

    #side ol li {
        font-size: 10px;
    }

    #conteudo {
        flex-direction: column;
        display: flex;
        width: 75vw;
        padding: 10px;
    }

    #menu ul {
        display: flex;
        flex-direction: row;
        text-align: left;
    }

    #side {
        width: 70vw;
        align-self: center;
    }

    #foot_bar {
        width: 75vw;
        font-size: 10px;
    }
}