/* RESET global */
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin-block-end: 0;
}

/* formatação corpo da página */
body {
    font-family: 'Albert-sans', Arial, Helvetica, sans-serif;
    width: 65vw;
    height: auto;
    max-width: 65vw;
    background-color: rgb(248, 179, 122);
    margin: 0 auto;

}

/* formatação dos links */

a {

    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    padding: 0.313rem;
    border-radius: 0.313rem;
    margin-left: 45px;
    text-decoration: none;
    font-weight: 550;
    max-width: 100%;


}

a:hover {

    transition: 0.7s;
    background-color: aliceblue;
    color: black;
    cursor: pointer;

}

/*formatação menu de navegação */

#menu ul {
    display: flex;
    justify-content: space-around;
}


#menu ul li {
    list-style: none;

}

#conteudo img {
    width: 57vw;
    border-radius: 3px;
    flex-direction: column;
}

#conteudo {

    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
    border-radius: 5px;
    padding: 60px;
    box-shadow: 5px 5px 5px rgb(117, 117, 117);
    margin-bottom: 10px;
}


.title_h {
    text-align: center;
    background-color: orange;
    border-radius: 5px;
    margin-bottom: 5px;
    display: flex;
}


#cabecalho {

    background-color: aliceblue;
    padding: 0.313rem;
    border-radius: 5px;
    margin-bottom: 2px;
    box-shadow: 5px 5px 5px rgb(117, 117, 117);

}


.content {

    background-color: rgb(175, 175, 175);
    padding: 1rem;
    margin-bottom: 5px;
    border-radius: 5px;

}

.content ol li {
    list-style-type: decimal;
    list-style-position: inside;
    margin-bottom: 10px;

}

.content ul li {
    list-style-position: inside;
    margin-bottom: 10px;
}




#menu {
    display: flex;
    margin-bottom: 5px;
    background-color: aliceblue;
    border-radius: 5px;
    align-items: right;
    width: 100%;
    height: 45px;
    padding: 0.625rem;
    border-radius: 0px 0px 5px 5px;
    box-shadow: 5px 5px 5px rgb(117, 117, 117);

}

#side {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 10px;
}